body{
    background:black;
    color:white;
    font-family:serif;
    text-align:center;
}

#dlg{
    padding:0px;
    border-radius: 16px;
    background: #1f1f24;


    
}

#grid{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
    gap:10px
}
.card img{
    width:100%
}

.card-info {
    display: flex;
    gap: 24px;
    max-width: 900px;
    padding: 24px;
    background: #1f1f24;
    color: #eee;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0,0,0,.35);
}

.card-image img {
    width: 280px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.4);
}

.card-details {
    flex: 1;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-header h2 {
    margin: 0;
    font-size: 2rem;
    max-width:50%;
}

.rarity {
    padding: 6px 14px;
    border-radius: 999px;
    font-weight: bold;
}

.rarity-Pt {
    background: linear-gradient(60deg,#d4af37,#ffe680);
    color:#222;
}
.rarity-Pt★ {
    background: linear-gradient(60deg,#d4af37,#ffe680);
    color:#222;
}
.rarity-U { background:#2b8a3e; }
.rarity-U★ { background:#2b8a3e; }
.rarity-R { background:#0066cc; }
.rarity-R★ { background:#0066cc; }
.rarity-SR { background:#7b2cbf; }
.rarity-SR★ { background:#7b2cbf; }
.rarity-SR★★ { background:#7b2cbf; }
.rarity-UR {
    background: linear-gradient(45deg,#d4af37,#ffe680);
    color:#222;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2,3fr);
    gap: 12px;
    margin-bottom: 20px;
}

.stats div {
    background:#2b2b32;
    border-radius:10px;
    padding:10px;
}

.stats strong {
    display:block;
    color:#aaa;
    font-size:.8rem;
    margin-bottom:4px;
}

.tags{
    background:#2b2b32;
    padding:18px;
    border-radius:12px;
    margin:8x;
    gap:8px;
}

.effect {
    background:#2b2b32;
    padding:18px;
    border-radius:12px;
    text-align:left;
}

.effect h3 {
    margin-top:0;
}

.effect p {
    line-height:1.6;
    white-space:pre-line;
}
